<div class="product-single" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true"
  data-ajax-enabled="{{ settings.enable_ajax }}"
>
<div class="product-single__gallery">
  <div class="swiper-container product-gallery">
    <div class="swiper-wrapper">
      {%- for media in product.media -%}
        <div class="swiper-slide"><img src="{{ media.preview_image | img_url: 'x524' }}" alt="{{ media.alt | escape }}"></div>
      {%- endfor -%}
    </div>
    <div class="swiper-button-prev gallery_prev"></div>
    <div class="swiper-button-next gallery_next"></div>
  </div>
  <div class="product-single__gallery__thumbs">
    <div class="swiper-container product-gallery-thumbs">
      <div class="swiper-wrapper">
        {%- for media in product.media -%}
          <div class="swiper-slide js-gallery-trigger{% if forloop.first %} is-active{% endif %}"><img src="{{ media.preview_image | img_url: 'x64' }}" alt="{{ media.alt | escape }}"></div>
        {%- endfor -%}
      </div>
    </div>  
    <div class="swiper-button-prev thumbs_prev"></div>
    <div class="swiper-button-next thumbs_next"></div>
  </div>
</div>
<div class="product-single__info">
  <h1 class="product-single__title">{{ product.title }}</h1>
  <form action="/cart/add" method="post" enctype="multipart/form-data">
    <label for="id">Choose your length</label>
    <select name="id">
        {% for variant in product.variants %}
        {% if variant.available == true %}
        <option value="{{variant.id}}">{{ variant.title }}</option>
        {% else %}
        <option disabled="disabled"> {{ variant.title }} - sold out!</option>
        {% endif %}
        {% endfor %}
    </select>
    <div class="product-single__price">
      {% include 'product-price', variant: current_variant, show_vendor: section.settings.show_vendor %}
    </div>
    {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
      <div class="product-single__policies">
        {%- if shop.taxes_included -%}
          {{ 'products.product.include_taxes' | t }}
        {%- endif -%}
        {%- if shop.shipping_policy.body != blank -%}
          {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
        {%- endif -%}
      </div>
    {%- endif -%}
    <div class="product-single__action">
      <div class="quantity">  
          <button class="quantity-input__button quantity_minus" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="3" viewBox="0 0 12 3" fill="none"><path d="M0.69873 2.21891V0.643912H11.3037V2.21891H0.69873Z" fill="black"/></svg>
          </button>
          <input class="quantity-input__element" type="number" name="quantity" value="1" min="1">
          <button class="quantity-input__button quantity_plus" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"><path d="M11.1701 5.09791V6.96691H6.9281V11.2089H5.0801V6.96691H0.838102V5.09791H5.0801V0.855911H6.9281V5.09791H11.1701Z" fill="black"/></svg>
          </button>
      </div>
      <input type="submit" name="add" id="add" value="Add to Cart" class="button-primary">
    </div>
  </form>
  <div class="product-single__description rte">
    {{ product.description }}
  </div>
</div>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  <script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{% endunless %}